<div style="margin-left:35px">
<h1>Contato</h1>
</div>
<hr/>
<div style="margin-left:35px">
<p>
	Estamos Localizados na Rua Pereira dos Santos, n° 260 - Sala 104 - Centro - Itaboraí<br>
<br>
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=Rua+Dr.+P+dos+Santos,+n%C2%B0260&amp;hl=pt-BR&amp;ie=UTF8&amp;sll=-22.919497,-43.073004&amp;sspn=0.179296,0.338173&amp;hnear=R.+Dr.+P+dos+Santos+-+Itabora%C3%AD+-+Rio+de+Janeiro,+24800-000&amp;t=m&amp;hq=&amp;z=14&amp;ll=-22.748757,-42.857537&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=Rua+Dr.+P+dos+Santos,+n%C2%B0260&amp;hl=pt-BR&amp;ie=UTF8&amp;sll=-22.919497,-43.073004&amp;sspn=0.179296,0.338173&amp;hnear=R.+Dr.+P+dos+Santos+-+Itabora%C3%AD+-+Rio+de+Janeiro,+24800-000&amp;t=m&amp;hq=&amp;z=14&amp;ll=-22.748757,-42.857537&amp;source=embed" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small><br>
	para entrar em contato conosco, mande um e-mail para <%= mail_to "clinicamarquet@yahoo.com" %>, ou fale conosco pelo msn: clinicamarquet@hotmail.com<br>
	ou ligue para (21)3585-5744 ou (21)3244-4553.
</p>
</div>
